A.link {
	COLOR: blue; TEXT-DECORATION: underline
}
A.visited {
	COLOR: purple; TEXT-DECORATION: underline
}
A.active {
	COLOR: red; TEXT-DECORATION: underline
}
P.Author {
	DISPLAY: block; FONT-SIZE: 12pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: "Arial"; TEXT-ALIGN: center; TEXT-DECORATION: none
}
PRE.Body {
	DISPLAY: block; FONT-SIZE: 10pt; MARGIN: 0pt 0pt 0pt 28.346pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: "Courier"; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H1.Book {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 24pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: "Arial"; TEXT-ALIGN: center; TEXT-DECORATION: none
}
H2.Book {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 24pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: "Arial"; TEXT-ALIGN: center; TEXT-DECORATION: none
}
H3.Book {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 24pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: "Arial"; TEXT-ALIGN: center; TEXT-DECORATION: none
}
H4.Book {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 24pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: "Arial"; TEXT-ALIGN: center; TEXT-DECORATION: none
}
H5.Book {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 24pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: "Arial"; TEXT-ALIGN: center; TEXT-DECORATION: none
}
H6.Book {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 24pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: "Arial"; TEXT-ALIGN: center; TEXT-DECORATION: none
}
P.CellBody {
	DISPLAY: block; FONT-SIZE: 12pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: "Arial"; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H1.Chapter {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 24pt; MARGIN: 0pt 0pt 24pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: "Arial"; TEXT-ALIGN: right; TEXT-DECORATION: none
}
H2.Chapter {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 24pt; MARGIN: 0pt 0pt 24pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: "Arial"; TEXT-ALIGN: right; TEXT-DECORATION: none
}
H3.Chapter {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 24pt; MARGIN: 0pt 0pt 24pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: "Arial"; TEXT-ALIGN: right; TEXT-DECORATION: none
}
H4.Chapter {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 24pt; MARGIN: 0pt 0pt 24pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: "Arial"; TEXT-ALIGN: right; TEXT-DECORATION: none
}
H5.Chapter {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 24pt; MARGIN: 0pt 0pt 24pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: "Arial"; TEXT-ALIGN: right; TEXT-DECORATION: none
}
H6.Chapter {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 24pt; MARGIN: 0pt 0pt 24pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: "Arial"; TEXT-ALIGN: right; TEXT-DECORATION: none
}
PRE.Dialog {
	DISPLAY: block; FONT-SIZE: 10pt; MARGIN: 7pt 0pt 0pt 28.346pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: "Courier"; TEXT-ALIGN: left; TEXT-DECORATION: none
}
Map-Filename.Filename {
	DISPLAY: block; FONT-SIZE: 10pt; MARGIN: 5pt 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-STYLE: italic; FONT-FAMILY: "Arial"; TEXT-ALIGN: right; TEXT-DECORATION: none
}
P.Mapping-Table-Cell {
	DISPLAY: block; FONT-SIZE: 10pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: "Courier"; TEXT-ALIGN: left; TEXT-DECORATION: none
}
P.Mapping-Table-Title {
	DISPLAY: block; FONT-SIZE: 14pt; MARGIN: 2pt 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: "Arial"; TEXT-ALIGN: left; TEXT-DECORATION: none
}
P.Normal {
	DISPLAY: block; FONT-SIZE: 12pt; MARGIN: 7pt 0pt 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: "Arial"; TEXT-ALIGN: left; TEXT-DECORATION: none
}
P.Pagina {
	DISPLAY: block; FONT-SIZE: 12pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: "Arial"; TEXT-ALIGN: left; TEXT-DECORATION: none
}
P.Picture {
	DISPLAY: block; FONT-SIZE: 12pt; MARGIN: 7pt 0pt 0pt 28.346pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: "Arial"; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H1.Section {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 16pt; MARGIN: 14pt 0pt 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: "Arial"; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H2.Section {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 16pt; MARGIN: 14pt 0pt 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: "Arial"; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H3.Section {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 16pt; MARGIN: 14pt 0pt 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: "Arial"; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H4.Section {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 16pt; MARGIN: 14pt 0pt 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: "Arial"; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H5.Section {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 16pt; MARGIN: 14pt 0pt 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: "Arial"; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H6.Section {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 16pt; MARGIN: 14pt 0pt 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: "Arial"; TEXT-ALIGN: left; TEXT-DECORATION: none
}
Map-Source-End.Source-End {
	DISPLAY: block; FONT-SIZE: 12pt; MARGIN: 0pt 0pt 0pt 28.346pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: "Arial"; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H1.SubChapter {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 16pt; MARGIN: 14pt 0pt 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: "Arial"; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H2.SubChapter {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 16pt; MARGIN: 14pt 0pt 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: "Arial"; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H3.SubChapter {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 16pt; MARGIN: 14pt 0pt 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: "Arial"; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H4.SubChapter {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 16pt; MARGIN: 14pt 0pt 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: "Arial"; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H5.SubChapter {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 16pt; MARGIN: 14pt 0pt 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: "Arial"; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H6.SubChapter {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 16pt; MARGIN: 14pt 0pt 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: "Arial"; TEXT-ALIGN: left; TEXT-DECORATION: none
}
TT.Code {
	FONT-SIZE: 11pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; FONT-FAMILY: "Courier"; TEXT-DECORATION: none
}
EM.Default-XREF-style {
	COLOR: #00ff00
}
B.GUI-Item {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; FONT-FAMILY: "Arial"; TEXT-DECORATION: none
}
I.Italic {
	FONT-SIZE: 12pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: "Arial"; TEXT-DECORATION: none
}
FONT.Link {
	VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; TEXT-DECORATION: underline
}
I.LocalLink {
	VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; FONT-STYLE: italic; TEXT-DECORATION: underline
}
